:root{
    --cor-primaria: #0077b6;
    --cor_secundaria:#023e8a;
    --cor-fundo: #f4f4f4;
    --espacamento: 1.25rem;
    --cor-texto:#333;
    --borda-aredondamento: 0.625rem;
    --color:white;
}

.header {
    

    background-color: aquamarine;
    color: burlywood;
    text-align: center;
    margin-top: auto;
   
    }

.header h1 { 

text-align: center;
text-decoration: none;

}



a {
    display: flex;  
    color: blue; 
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}